@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth !important;
}

.my-logo {
    font-family: 'Great Vibes', cursive;
}

header {

    background-image: url(../assets/banner_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-light-black {
    background-color: rgba(0, 0, 0, 0.5);
}

/* animation for modal in project part */
.modal-motion {
    animation: modal-motion 0.5s;
}
@keyframes modal-motion {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}